:root{
    --black: #1a202c;
    --heroBG: #e2e8f0;
    --grey: #6b7280;
    --purple: #5a67d8;
    --lighterBlue: #32ABE1;
    --lightBlue: #3182ce;
    --green: #42B883;
    --gray: gray;
    --testingBG:#4a5568;
    --learnAboutHeaderCol:#48bb78;
    --defaultFontFamily: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    --defaultFontSize:18px;
  }


header {
    background-color: white;
    font-size: var(--defaultFontSize);
}

header > .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

li {
    display: inline-block;
    padding-left: 10px; 
}

li > a{
    color:var(--grey);
}

li > a:hover{
    color:var(--purple);

}
ul {
    list-style-type: none;
    text-align: right;
}

body {
    font-family: var(--defaultFontFamily);
    margin: 0;
    font-size: var(--defaultFontSize);
}

img[src="christopher turk.jpeg"]{
    float: left;
    height: 200px;
    width: 250px;
    padding: 20px;
    border-radius: 50%;
    max-width: 10em;
}

img[src="covid screening and testing.jpeg"]{ 
    float: left;
    height: 200px;
    width: 250px;
    padding: 20px;
    border-radius: 50%;
    max-width: 10em;
}

img[src="fitness.jpeg"]{
    height: 89px;
    width: 200px;
    padding: 10px;
    float: left;
}

img[src="ai.jpeg"]{  
    height: 200px;
    width: 250px;
    padding: 20px;
}

img[src="fitness-tracker.jpeg"]{  
    height: 200px;
    width: 250px;
    padding: 20px;
}
img[src="healthierlifesyle.jpeg"]{  
    height: 200px;
    width: 250px;
    padding: 20px;
}

.container > h1{
    grid-column: 1;
}

.container > nav {
    grid-column: 2;
}

.container {
    margin: 10 auto;
    max-width: 960px;
    width: 100%;
}



.overview-hero {
    padding: 30px;
    background-color:var(--heroBG);
}
.overview-hero > .container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    align-items: center;
}
.overview-hero-image {
    grid-column: 1;
    grid-row: 1 / 3;
}
.overview-hero-text > h2 {
    grid-column: 2;
    grid-row: 1;
}
.overview-hero-text > p {
    grid-column: 2;
    grid-row: 2;
}





.learn-about h2 {
    font-size: 24px;
    color:var(--learnAboutHeaderCol);
}
.learn-about h3 {
    font-size: 21px;
    color:var(--learnAboutHeaderCol);    
}




.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    margin-bottom: 30px;
}
.card {
    grid-column: auto;
    border-radius: 5px;
    text-align: center;
    border-color: var(--heroBG);
    padding: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 2px 4px 9px var(--green);
}



.testing {
    background-color: var(--testingBG);
    color: white;
    padding: 90px;
    margin-bottom: 80px;
}
.testing .container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    padding: 10px;
}





.cta {
    text-align: center;
}
.cta .btn {
    padding: 5%; 
    background-color: var(--learnAboutHeaderCol);
    border-radius: 5px;
    color: white;
    
}





.stories h2 {
    color:var(--purple);
}
.stories a{
    color: var(--purple);
    
}
.article-body h3 {
    font-size: 18px;
}

article {
    display: grid;
    grid-template-columns: 2fr 7fr;
    margin-bottom: 30px;
}
.stories {
    margin-bottom: 65px;
}




.newsletter {
    background-color: var(--learnAboutHeaderCol);
    color: white;
    padding: 2% 20% 0% 20%;
}
.newsletter h3 {
    text-align: center;
}
.newsletter p {
    padding-left: 15%;
    padding-right: 15%;
}
form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: 15%;
    padding-right: 15%;
}
.newsletter .btn {
    background-color: var(--purple);
    padding: 10px;
    border-radius: 2px;
    color: white;
    margin-left: 2px;
    width: 80%;
    border:none;
}

.newsletter input {
   border:none;
    border-radius: 2px;
    align-self: right;
    padding: 10px 15px 10px 5px;
    width: 85%;
}



footer {
    background-color: var(--testingBG);
    color: white;
    padding: 5px;
}

.message {
    text-align: center;
    height: 100px;
    max-height: 100px;
    min-height: 100px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}